<div class="jumbotron">
	<h1>Welcome to my first Rails App</h1>
	<p>
		This is the home page for my 
		<%= link_to "My First Rails App", "http://myFirstRailsApp.com" %>
		Application
	</p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>